&ospi {
	/delete-property/ is-stacked;
	/delete-property/ is-dual;
	xlnx,connection-mode = <0>;
	xlnx,qspi-mode = <0>;

	boot_memory: flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "avalanche,as301g208", "jedec,spi-nor";
		reg = <0>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <40000000>;
	};

	hirel_memory: flash@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "avalanche,as3064204", "jedec,spi-nor";
		reg = <1>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <40000000>;
	};
};
